.about_pic {
  height: 250px;
  width: 1750px;
  /* margin: 15px; */
}


.about_picture {
  text-align: center;
  justify-content: center;
  margin-left: 40px;
  max-width: 300px;
  background-color: blueviolet;
  border-radius: 10px;
}

.about_pic {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 6px black;
}

.about_section {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 15px;

}

.caption {
  font-size: 14px;
  margin-top: 5px;
  color: rgb(241, 241, 241)
}


body {
  margin: 0;
  padding: 0;
}

.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(193, 191, 191);
    padding: 10px;
}

.link {
  padding: 10px;
  background-color: aquamarine;
  border-radius: 5px;
  margin: 10px;
  text-decoration: underline;
}

.nav-links  {
    display: flex;
    justify-content: flex-end;
}


.cards {
  display: flex;
  flex-direction: column; /* stack cards vertically */
  gap: 15px; 
  margin-left: 35px;
}

.card {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  max-width: 400px;
}
